body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-image: url(imagenes/fondoletra.jpg);
    color: #ffffff;
    padding-top: 50px;
    margin: 0;

  }
  .linktree {
    width: 60%;
    min-width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .img{
    margin: 0 auto 0;
    border: 1px solid  #ffffff;
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }

  img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }

  .username {
    text-align: center;
    margin-bottom: 70px;
  }
  
  .link {
    height: 10%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  a {
    border: 1px solid  #ffffff;
    border-radius: 25px;
    height: 50px;
    width: 50%;
    min-width: 85%;
    margin: 20px auto 20px;
    line-height: 49px;
    font-weight: normal;
    color: url(imagenes/fondoletra.jpg);
    text-decoration: none;
    background-color: #ffffff;
    font-size: 23px;
  }
  
  a:hover {
    transition:all .9s ease;
    transform:scale(1.1);
    border-radius: 30px;
    color: #ffffff;
    background-color: transparent;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.1;
  }